{{>navigation}}


<div class="container p-4 container-lg">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/inventario/addGrupoTerapeutico" method="POST">

                            <h3 class="align-items-center">
                                Grupo Terapeutico
                            </h3>


                        <div class="form-group">
                            <input class="form-control"
                            type="text"
                            placeholder="Grupo Terapeutico" 
                            name="nombre"
                            >
                        </div>
                        
                            <div class="d-grid gap-2">
                                <input type="submit"
                                    class="btn btn btn-outline-success btn-block form-control">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>