{{>navigation}}


<div class="container p-4 container-lg">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="../../inventario/form/addLaboratorioForm.hbs" method="POST">

                            <h3 class="align-items-center">
                                Laboratorio
                            </h3>


                        <div class="form-group">

                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Tipo Presentación" name="presentacion">
                            <datalist id="datalistOptions">
                                <option value="Areosol">
                                <option value="Cásulas">
                                <option value="Crema">
                                <option value="Gragea">
                                <option value="Gotas">
                            </datalist>
                        </div>
                        
                        
                            <div class="d-grid gap-2">
                                <input type="submit" value="Guardar"
                                    class="btn btn btn-outline-success btn-block form-control" name="enviar">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>