<div class="container p-4 container-lg">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="../form/addPresentacionForm.hbs" method="POST">

                            <h3 class="align-items-center">
                                Presentaciones
                            </h3>


                        <div class="form-group">

                            <input 
                            class="form-control" 
                            type="text"  
                            placeholder="Tipo Presentación" 
                            name="presentacion"
                            >
                        
                            <div class="d-grid gap-2">
                                <input type="submit" value="ENVIAR"
                                    class="btn btn btn-outline-success btn-block form-control" name="enviar">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>