    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">INVENTARIO</h1>
                </a>

                <nav class="navegacion">
                    <a href="#" class="navegacion__enlace">Todos los derechos resevados 2022</a>
                    <a href="#" class="navegacion__enlace">GitHub</a>

                </nav>
            </div>
        </div>
    </footer>