<nav class="p-2 navbar navbar-light" style="background-color: #8fd0ff;">
    <!-- Navbar content -->

    <!-- Navbar content -->
    <ul class="nav justify-content-end">

        <li class="nav-item">
            <a class="navbar-brand text-light" href="/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand  text-light " aria-current="page" href="/inventario/add">Inventario</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand  text-light " href="/inventario/list">Stock</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand text-light" href="#">Perfil</a>
        </li>
    </ul>

</nav>