        <div class="contenedor bg-color">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Inventario</h1>
                </a>

                <nav class="navegacion">
                    <a href="" class="navegacion__enlace">Perfil</a>
                    <a href="" class="navegacion__enlace">GitHub</a>
                </nav>
            </div>
        </div>