{{>navigationList}}
<div class="container">
    <div class="row">
        <div>
            <h3>
                Medicamentos
            </h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        nombre
                    </th>
                </tr>

                    {{#each list}}
                        <th>
                            {{idMedicamneto}}
                        </th>
                        <th>
                            {{nombre}}
                        </th>
                    {{/each}}

            </thead>
        </table>
    </div>
</div>